﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="Ekstraklasa3.Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
   
    <style type="text/css">
        #form1 {
            text-align: right;
        }
    </style>
   
</head>
<body style="height: 431px">
    <form id="form1" runat="server">
        <div style="height: 48px; width: 1345px; background-color: #008000;">
            <div style="width: 981px; z-index: 1; left: 18px; top: 82px; position: absolute; height: 142px;">
                &nbsp;<asp:DropDownList ID="DropDownList1" runat="server" DataSourceID="loginname" DataTextField="Nazwa_użytkownika" DataValueField="Nazwa_użytkownika" style="z-index: 1; left: 67px; top: 23px; position: absolute">
                </asp:DropDownList>
                <asp:SqlDataSource ID="loginname" runat="server" ConnectionString="<%$ ConnectionStrings:Ekstraklasa_VER_1_1ConnectionString %>" SelectCommand="SELECT [Nazwa_użytkownika] FROM [Użytkownicy]"></asp:SqlDataSource>
                &nbsp;<asp:Label ID="Label3" runat="server" style="z-index: 1; left: 4px; top: 23px; position: absolute; height: 15px; width: 52px" Text="Login:"></asp:Label>
                &nbsp;
                <br />
                &nbsp;<asp:Label ID="Label4" runat="server" style="z-index: 1; left: 6px; top: 49px; position: absolute; width: 49px; height: 22px" Text="Hasło:"></asp:Label>
                <asp:Button ID="Button1" runat="server" style="z-index: 1; left: 66px; top: 106px; position: absolute; width: 118px; right: 797px" Text="Zaloguj" OnClick="Button1_Click" />
                <asp:TextBox ID="TextBox1" runat="server" style="z-index: 1; left: 68px; top: 49px; position: absolute; width: 136px" EnableViewState="False" TextMode="Password"></asp:TextBox>
            </div>
            <asp:Label ID="Label1" runat="server" style="z-index: 1; left: 39px; top: 21px; position: absolute; width: 181px; right: 594px; color: #0000CC; font-size: xx-large" Text="Ekstraklasa"></asp:Label>
        </div>
    </form>
</body>
</html>
